:root{
  --black: #161616;
  --blue: #5096fa;
  --white: #fff;
  --gray: #B9B9B9;
 }
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 body{
    font-family: 'Poppins', sans-serif;
 }
 
 
/*==================================================
                  top-header-section
  ================================================== */
 
   .main_container{
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     
   }
   .container{
     width: 90%;
     height: 80vh;
     border-radius: 25px;
     display: flex;
     overflow: hidden;
     background-color: var(--black);
   }
   .Banner_text{
     height: 100%;
     width: 50%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     padding: 70px;
   }
   .Banner_text > h1{
     font-family: poppins, sans-serif;
     font-size: 3em;
     font-weight: 700;
     letter-spacing: 2.5px;
     line-height: 50px;
     color: var(--white);
   }
   .Banner_text > p{
     font-family: poppins, sans-serif;
     font-weight: 400;
     letter-spacing: .6px;
     color: var(--white);
   }
   .Banner_text > div > a {
     display: inline-block;
     text-decoration: none;
     font-family: poppins, sans-serif;
     font-size: 16px;
     font-weight: 400;
     letter-spacing: .8px;
     color: var(--blue);
     padding: 12px 30px;
     border-radius: 5px;
     border: 2.5px solid var(--blue);
     transition: .5s;
   }
   .Banner_text > div > a:hover{
     background-color: var(--blue);
     color: var(--white);
     border: 2.5px solid var(--blue);
   }
 
   /* ---------------------image-------------------------- */
   .Banner_image{
     width: 50%;
     height: 100%;
   }
   .Banner_image > img{
     height: 100%;
     object-fit: cover;
     object-position: left;
   }


/*==================================================
                  middle-part
  ================================================== */

  .middle_part{
    max-width: 90%;
    margin: 0 auto;
  }

  /* ------------left-navbar---------- */
  .middle_part_container{
    display: flex;
    margin: 80px auto;
  }
  .middle_part_navbar{
    background-color: var(--black);
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
    padding: 20px;
    border-radius: 10px;
  }
  .middle_part_navbar > ul > li{
    list-style-type: none;
    background-color: var(--white);
    text-align: center;
    margin: 30px 0px;
    border-radius: 10px;
  }
  .middle_part_navbar .selected_li{
    background-color: var(--blue);
  }
  .middle_part_navbar .selected_li a{
    color: var(--white);
  }
  .middle_part_navbar > ul > li > a{
    text-decoration: none;
    color: var(--black);
    display: block;
    padding: 10px 20px;
  }

  /* ------------------right-blog---------------- */

  .blogs{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
  .blog{
    border: 1px solid var(--gray);
    border-radius: 10px;
  }
  .blog_image{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .blog_title{
    padding: 15px;
  }
  .blog_title button{
    display: block;
    padding: 5px 15px;
  }
  .blog_icon{
    display: flex;
    margin-top: 10px;
  }
  .fa-solid{
    margin-right: 20px;
    color: #8d8d8d;
  }



  /*==================================================
                  footer
  ================================================== */

  footer{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--black);
  }
  footer > h1{
    font-family: poppins, sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--white);
  }
  footer hr{
    width: 100%;
    border: 1px solid rgba(255, 255, 255, .1);
  }
  .menu_container{
    width: 80%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu_container > a{
    text-decoration: none;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .9px;
    color: var(--gray);
    transition: .5s;
  }
  .menu_container > a:hover{
    color: var(--blue);
  }
  .footer_icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer_icon > a{
    font-size: 23px;
    margin: 0 20px;
    color: var(--gray);
    transition: .5s;
  }
  .footer_icon > a:hover{
    color: var(--blue);
    
  }



/*==================================================
                  media-query
  ================================================== */


  @media only screen and (max-width: 576px){

  /* -----------Top-Header-Section----------- */
    .main-container{
      height: 1200px;
    }
    .container{
      flex-direction: column;
      width: 80%;
      height: 100vh;
      border-radius: 10px;
    }
    .Banner_text{
      width: 100%;
      padding: 40px;
      text-align: center;
      align-items: center;
    }
    .Banner_text > h1{
      font-size: 2em;
      font-weight: 600;
      letter-spacing: .2px;
      line-height: 35px;
      margin-bottom: 10px;
    }
    .Banner_text > p{
      font-size: 14px;
    }
    .Banner_text > div > a{
      margin-top: 10px;
    }


    /* ----------------middle-part-------------- */

    .middle_part{
      max-width: 100%;
      margin: 0 20px;
    }
    .middle_part_container{
      flex-direction: column;
      margin: 30px auto;
    }
    .middle_part_navbar{
      background-color: var(--white);
      width: 100%;
    }
    .middle_part_navbar li{
      border: 1px solid rgb(172, 166, 166);
    }
    .blogs{
      width: 100%;
      grid-template-columns: 1fr;
    }

    /* ----------------footer-------------- */

    .menu_container{
      flex-direction: column;
    }
    footer{
      height: 800px;
    }
    .footer_icon > a{
      margin: 50px 20px 0;}
  }



  @media only screen and (min-width:577px) and (max-width:992px){

    .middle_part_container{
      flex-direction: column;
      margin: 40px auto;
    }
    .middle_part_navbar{
      background-color: white;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      border-radius: 0;
    }
    .middle_part_navbar > ul{
      width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .middle_part_navbar > ul > li{
      width: 30%;
      margin: 30px 0px;
      border: 1px solid rgb(172, 166, 166);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .blogs{
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
  }